.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #B57EDC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-link {
  color: #eee;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar-link:hover {
  color: #ff4d00;
}

.navbar-menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}
