.navbar {
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(5, 12, 25, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  color: white;
  gap: 2rem;
}

.navbar-link {
  color: #eee;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar-menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}